<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>feedback</title>
    <style>
    
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 18px;
            text-align: left;
        }
        th, td {
            padding: 12px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h2>FEEDBACK</h2>

    <table>
        <tr>
            <th>si_number</th>
            <th>user_id</th>
            <th>description</th>
        </tr>
        {% for i in x %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.userid }}</td>
            <td>{{ i.description }}</td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
