<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop Table</title>
    <style>
    
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 18px;
            text-align: left;
        }
        th, td {
            padding: 12px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h2>Shop Table</h2>

    <table>
        <tr>
            <th>id</th>
            <th>Shopname</th>
            <th>Owner</th>
            <th>Location</th>
            <th>Address</th>
            <th>Phoneno</th>
            <th>Openingtime</th>
            <th>Closingtime</th>
            
        </tr>
        {% for i in x %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.shopname }}</td>
            <td>{{ i.owner }}</td>
            <td>{{ i.location }}</td>
            <td>{{ i.address }}</td>
            <td>{{ i.phoneno }}</td>
            <td>{{ i.openingtime }}</td>
            <td>{{ i.closingtime }}</td>
            <td class="actions">
                <a href="/loginapp/shopedit/{{ i.id }}">edit</a> | 
                <a href="/loginapp/shopdelete/{{ i.id }}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
