<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Table</title>
    <style>
    
        table {
            width: 50%;
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 18px;
            text-align: left;
        }
        th, td {
            padding: 12px;
            border: 1px solid #ddd;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

    <h2>Stock Table</h2>

    <table>
        <tr>
            <th>Stock</th>
            <th>Stock Type</th>
            <th>Quantity (Kg/L)</th>
        </tr>
        {% for i in x %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ i.stock }}</td>
            <td>{{ i.quantity }}</td>
            <td class="actions">
                <a href="/app/tableedit/{{ i.id }}">edit</a> | 
                <a href="/app/tabledelete/{{ i.id }}">delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
